.meal-list {
  &__meal-container {
    width: 95%;
    max-width: 400px;
    height: fit-content;
    margin: 28px auto 0;
    background: rgb(200, 199, 199);
    background: linear-gradient(
      146deg,
      rgba(200, 199, 199, 1) 0%,
      rgba(211, 211, 211, 1) 50%,
      rgba(200, 199, 199, 1) 100%
    );
    padding: 10px;
    border-radius: 16px;
    box-shadow: 6px 6px 24px grey;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
  }
  &__meal-type {
    font-size: 1.4rem;
    font-weight: 700;
  }
  &__button-box {
    text-align: end;
    width: fit-content;
  }

  &__plus {
    width: 26px;
    margin-right: 12px;
  }

  &__chevron {
    width: 30px;
    transform: rotateZ(180deg);
    transition: 0.8s;
    &--active {
      transform: rotateZ(0deg);
    }
  }

  &__list {
    list-style: none;
    filter: drop-shadow(12px 4px 18px #0000004c)
      drop-shadow(-12px -8px 24px #ffffffa6);
    height: 0px;
    overflow: hidden;
    transition: 0.8s ease-in-out;

    &--active {
      height: fit-content;
    }
  }

  &__product-info {
    margin: 10px 25px;
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
  }
  &__summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 5px;
    font-size: 1rem;
    margin: 4px 0;
  }
}
