@use "../../../index";

.login-page {
  width: 100%;
  margin: auto;
  &__container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 25px 25px 25px #00000025;
  }
  &__selector {
    width: 100%;
    display: flex;
    text-align: center;
  }

  &__link {
    width: 50%;
    font-size: 1.6rem;
    padding: 10px 0;
    border: 2px solid index.$button-color;
    border-radius: 20px 0 0 0;
    background-color: unset;
    color: index.$button-color;
    text-decoration: none;

    &:nth-child(2) {
      border-radius: 0 20px 0 0;
    }

    &.active {
      background-color: index.$button-color;
      color: white;
    }
  }

  &__honeycomb {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .login-page {
    &__honeycomb {
      display: block;
      position: absolute;
      top: 28%;
      left: 0px;
      z-index: -2;
      height: 60%;
      width: auto;
      top: 16%;
      left: 0px;
      &:nth-of-type(2) {
        transform: rotateZ(180deg);
        top: 28%;
        left: unset;
        right: 0px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .login-page {
    padding: 120px 0 40px;
  }
}
