.date_active {
  background-color: rgb(121, 34, 34);
  color: white;
}

.tracker {
  &__date-picker {
    width: 100%;
    min-width: 285px;
    padding: 20px 0 20px;
    background: rgb(88, 159, 116);
    background: linear-gradient(
      146deg,
      rgba(88, 159, 116, 1) 0%,
      rgba(121, 212, 118, 1) 100%
    );
    border-radius: 0 0 20px 20px;
    position: fixed;
    z-index: 1;
  }
  &__input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  &__date-input {
    visibility: visible;
    background-color: #589f7400;
    color: white;
    border: none;
    font-size: 2rem;
    width: 24px;
    margin: 0 10px 0 0;

    &::-webkit-calendar-picker-indicator {
      visibility: visible;
      cursor: pointer;
      filter: invert(1);
    }
  }

  &__date {
    font-size: 2rem;
    color: white;
  }

  &__arrow {
    width: 25px;
    padding: 0px;
    color: white;
    &--previous {
      transform: rotateZ(-90deg);
    }
    &--next {
      transform: rotateZ(90deg);
    }
  }

  &__days-list {
    width: 100%;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    font-size: 1.4rem;
    max-width: 320px;
    color: white;
  }

  &__days-item {
    width: 40px;
    padding: 10px 0;
    border-radius: 8px;
    transition: 0.2s ease-in;
    &--active {
      color: black;
      background-color: #d1d1d1;
    }
  }

  &__meal-container {
    width: 95%;
    margin: 150px auto 0;
    background: rgb(184, 181, 181);
    background: linear-gradient(
      146deg,
      rgba(184, 181, 181, 1) 0%,
      rgba(211, 211, 211, 1) 46%
    );
    padding: 10px;
    border-radius: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
  }
  &__meal-type {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__button-box {
    text-align: end;
  }

  &__plus {
    width: 7%;
    margin-right: 12px;
  }

  &__chevron {
    width: 7%;
    transform: rotateZ(180deg);
    transition: 0.8s;
    &--active {
      transform: rotateZ(0deg);
    }
  }

  &__summary {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 4px 8px 0;
  }

  &__meal-list {
    list-style: none;
    filter: drop-shadow(12px 4px 18px #0000004c)
      drop-shadow(-12px -8px 24px #ffffffa6);
    height: 0px;
    overflow: hidden;
    transition: 0.8s ease-in-out;

    &--active {
      height: fit-content;
    }
  }

  &__meal-item {
    padding: 12px 12px;
    background-color: #e0e0e0;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    &:nth-child(1) {
      border-radius: 12px 12px 0 0;
    }
    &:last-child {
      border-radius: 0 0 12px 12px;
    }
    &:only-child {
      border-radius: 12px 12px 12px 12px;
    }
  }

  &__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__product-name {
    margin: 0 0 10px;
    font-size: 1.6rem;
  }

  &__product-info {
    margin: 10px 0 0;
    font-size: 1.2rem;
  }

  &__modal-container {
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &--active {
      display: block;
    }
  }

  &__modal {
    position: fixed;
    height: 60vh;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    transition: 0.4s;
    &--active {
      display: block;
      transform: translateY(0);
    }
  }

  &__modal-exit {
    width: 8%;
    transform: rotateZ(180deg);
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__modal-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }

  &__products-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
  }
}
