.tracker {
  &__modal-container {
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    &--active {
      display: block;
    }
  }

  &__modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    transition: 0.4s;
    z-index: 2;
    &--active {
      display: block;
      transform: translateY(0);
    }
  }

  &__modal-exit {
    width: 35px;
    transform: rotateZ(180deg);
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__modal-title {
    text-align: center;
    padding: 26px 0;
    font-size: 2rem;
    box-shadow: 20px 0 20px grey;
    border-radius: 20px 20px 0 0;
  }

  &__products-list {
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 20px;
    overflow-y: scroll;
  }

  &__product {
    z-index: 3;
    position: relative;
  }
}
