.date_active {
  background-color: rgb(121, 34, 34);
  color: white;
}

.tracker {
  &__date-picker {
    width: 100%;
    min-width: 285px;
    padding: 20px 0 20px;
    background-color: #589f74;
    border-radius: 0 0 20px 20px;
  }
  &__input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
  }
  &__date-input {
    visibility: visible;
    background-color: #589f74;
    color: white;
    border: none;
    font-size: 2rem;
    width: 24px;
    margin: 0 10px 0 0;
    &::-webkit-calendar-picker-indicator {
      visibility: visible;
      cursor: pointer;
      filter: invert(1);
    }
  }

  &__date {
    font-size: 2rem;
    color: white;
  }

  &__arrow {
    width: 25px;
    padding: 0px;
    color: white;
    &--previous {
      transform: rotateZ(-90deg);
    }
    &--next {
      transform: rotateZ(90deg);
    }
  }

  &__days-list {
    width: 100%;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    font-size: 1.4rem;
    max-width: 320px;
    color: white;
  }

  &__days-item {
    width: 40px;
    padding: 10px 0;
    border-radius: 8px;
    transition: 0.2s ease-in;
    &--active {
      color: black;
      background-color: #d1d1d1;
    }
  }
}
