.tracker-list {
  &__modal-container {
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    &--active {
      display: block;
    }
  }

  &__modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    transition: 0.4s;
    z-index: 2;
    &--active {
      display: block;
      transform: translateY(0);
    }
  }

  &__modal-exit {
    width: 35px;
    transform: rotateZ(180deg);
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
  }

  &__modal-title {
    text-align: center;
    padding: 26px 0;
    font-size: 2rem;
    box-shadow: 20px 0 20px grey;
    border-radius: 20px 20px 0 0;
  }

  &__products-list {
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 20px;
    overflow-y: auto;
  }

  &__product {
    z-index: 3;
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  .tracker-list {
    &__modal {
      position: fixed;
      bottom: unset;
      top: 55%;
      left: 50%;
      width: 90%;
      padding: 0 0 20px;
      max-width: 1200px;
      border-radius: 20px;
      transform: translateY(100%) translateX(-50%);
      &--active {
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
}
