.summary {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 285px;
  max-width: 400px;
  font-size: 1.4rem;
  background-color: rgb(113, 113, 113);
  color: white;
  padding: 20px 20px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  &__title {
    margin: 0 0 20px;
  }
  &__grid {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .summary {
    position: unset;
    transform: unset;
    max-width: unset;
    grid-area: 3 / 1 / 4 / 3;
    border-radius: 20px;
    box-shadow: 6px 6px 24px rgba(128, 128, 128, 0.5);
  }
}
