$primary-color: #e0e0e0;
$secondary-color: #589f74;

nav {
  position: relative;
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-color;
  z-index: 3;
  border-bottom: 1px solid #575757;
  box-shadow: 0 10px 12px #00000025;

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__svg {
    width: 40px;
    height: auto;
    margin: 10px;
    cursor: pointer;
  }

  &__name {
    margin: auto;
    font-size: 2rem;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    z-index: 2;

    background: rgb(88, 159, 116);
    background: linear-gradient(
      146deg,
      rgba(88, 159, 116, 1) 0%,
      rgba(121, 212, 118, 1) 100%
    );
    color: $primary-color;
    border-radius: 20px 0 20px 20px;
    transition: max-height 0.6s ease-in-out;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    &--active {
      max-height: 260px;
    }
  }

  &__list {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.8rem;
    padding: 0 16px;
    width: fit-content;
  }

  &__link {
    display: block;
    margin: 12px;
    padding: 10px;
  }

  &__container {
    text-align: end;
    margin: auto 0px;
  }

  &__profile {
    margin: 20px 0px;
    background-color: $primary-color;
    width: 50px;
    height: 50px;
    padding: 10px 20px 10px 10px;
    border-radius: 12px 0 0 12px;
  }

  &__bars {
    width: 32px;
    height: auto;
    margin: 10px;
    transition: 1s;

    &--rotate {
      transform: rotateZ(45deg);
    }
  }
}

.active {
  border-bottom: 4px solid #ffffff;
}

@media screen and (min-width: 992px) {
  .navigation {
    justify-content: space-between;
    box-shadow: none;
    padding: 0 0 0 20px;

    &--home {
      background-color: unset;
      border-bottom: unset;
    }

    &__logo {
      width: 60%;
    }
    &__svg {
      width: 60px;
    }

    &__name {
      margin: 0 0 0 10px;
      font-size: 3rem;
    }

    &__menu {
      position: unset;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      max-height: unset;
      overflow: unset;
      width: 60%;
      background: none;
      box-shadow: none;
    }

    &__list {
      margin: 0 60px 0 0;
      flex-direction: row;
      align-items: center;
      min-width: 460px;
      background-color: $primary-color;
      border-radius: 12px;
      border: 1px solid black;
      height: 50px;
      box-shadow: 12px 6px 24px rgba(0, 0, 0, 0.5);
    }

    &__link {
      border-bottom: none;
      width: 100%;
      transition: transform 0.4s;
      color: black;
      &:hover {
        transform: scale(1.1);
      }
    }

    &__profile {
      border: 1px solid black;
      border-right: none;
      box-shadow: 12px 6px 24px rgba(0, 0, 0, 0.5);
    }

    &__bars {
      display: none;
    }
  }

  .active {
    border-bottom: 4px solid #000000;
  }
}
