$primary-color: #e0e0e0;
$secondary-color: #589f74;

nav {
  position: relative;
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-color;
  z-index: 3;
  border-bottom: 1px solid #575757;
  box-shadow: 0 10px 12px #00000025;

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__svg {
    width: 40px;
    height: auto;
    margin: 10px;
  }

  &__name {
    margin: auto;
    font-size: 20px;
  }

  &__menu {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    z-index: 2;

    background: rgb(88, 159, 116);
    background: linear-gradient(
      146deg,
      rgba(88, 159, 116, 1) 0%,
      rgba(121, 212, 118, 1) 100%
    );
    color: $primary-color;
    border-radius: 20px 0 20px 20px;
    transition: max-height 0.6s ease-in-out;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    &--active {
      max-height: 260px;
    }
  }

  &__list {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.8rem;
    padding: 0 16px;
    width: fit-content;
  }

  &__item {
    margin: 12px;
    padding: 10px;

    border-bottom: 4px solid white;
  }

  &__container {
    text-align: end;
  }

  &__profile {
    margin: 20px 0px;
    background-color: $primary-color;
    width: 50px;
    height: 50px;
    padding: 10px 20px 10px 10px;
    border-radius: 12px 0 0 12px;
  }

  &__bars {
    width: 40px;
    height: auto;
    margin: 10px;
    transition: 1s;
    &--rotate {
      width: 40px;
      height: auto;
      margin: 10px;
      transform: rotateZ(45deg);
    }
  }
}
