.product {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
  &__container {
    position: fixed;
    bottom: 0;
    background-color: #e0e0e0;
    width: 100%;
    min-width: 280px;
    margin: auto;
    border-radius: 20px 20px 0 0;
    padding: 0 0 40px;
  }
  &__name {
    width: 60%;
    margin: 24px 20%;
    padding: 6px;
    font-size: 2.4rem;
    text-align: center;
    background-color: initial;
    border: none;
    border-radius: 12px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.2rem;
    &:focus {
      outline: 1px solid black;
    }
  }
  &__form {
    width: 80%;
    margin: auto;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
  }
  &__value-box {
    width: 50%;
    text-align: right;
  }

  &__input {
    width: 60px;
    font-size: 1.8rem;
    text-align: right;
    background-color: initial;
    border: none;
    border-radius: 6px;
    padding: 0 5px;
    &:focus {
      outline: 1px solid black;
    }
  }

  &__edit-btn {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background-color: #589f74;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.272);
  }

  &__delete-btn {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background-color: unset;
    border: 2px solid red;
    color: red;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.272);
  }
}
