.product {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.35);
  }
  &__container {
    position: fixed;
    bottom: 0;
    background-color: #e0e0e0;
    width: 100%;
    height: 60vh;
    min-width: 250px;
    margin: auto;
    padding: 0 0 20px;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    transition: 0.4s;
    overflow-y: auto;
    z-index: 3;
    &--active {
      transform: translateY(0);
    }
  }

  &__arrow {
    width: 35px;
    position: absolute;
    left: 15px;
    top: 15px;
    transform: rotateZ(180deg);
  }
  &__name {
    width: 60%;
    margin: 24px 20%;
    padding: 6px;
    font-size: 2.4rem;
    text-align: center;
    background-color: initial;
    border: none;
    border-radius: 12px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.2rem;
    &--edit {
      border: 1px solid black;
    }
    &:focus {
      outline: 1px solid black;
    }
  }
  &__form {
    margin: 0 10%;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    margin: auto;
    max-width: 420px;
  }
  &__info {
    text-align: center;
    margin: 12px 0 12px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
  }
  &__value-box {
    width: 60%;
    text-align: right;
  }

  &__input {
    width: fit-content;
    max-width: 150px;
    font-size: 1.8rem;
    text-align: right;
    background-color: initial;
    border: none;
    border-radius: 6px;
    padding: 0 5px;
    margin: 0 5px 0 0;
    &--edit {
      border: 1px solid black;
    }
    &:focus {
      outline: 1px solid black;
    }
  }

  &__btn {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background-color: #589f74;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.272);
    &--save {
      width: 45%;
      margin: 0 10% 0 0;
    }
    &--cancel {
      background-color: unset;
      width: 45%;
      border: 2px solid #589f74;
      color: black;
    }
    &--delete {
      background-color: unset;
      border: 2px solid red;
      color: red;
    }
  }

  &__amount {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__amount-input {
    text-align: right;
    border-radius: 4px;
    border: 1px;
  }
}

@media screen and (min-width: 768px) {
  .product {
    &__container {
      top: 65%;
      left: 50%;
      width: 60%;
      height: fit-content;
      max-width: 560px;
      border-radius: 20px;
      transform: translateX(-50%) translateY(200%);
      scrollbar-gutter: stable both-edges;
      &--active {
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
