.product-preview {
  border: 2px solid #0000002e;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  box-shadow: 6px 6px 24px rgba(128, 128, 128, 0.5);

  &__name {
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__details {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .product-preview {
    width: 100%;
    min-width: 300px;
  }
}
