.login-page {
  width: 90%;
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
  min-height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 25px 25px 25px #00000025;

  &__selector {
    width: 100%;
    display: flex;
    text-align: center;
  }

  &__link {
    width: 50%;
    font-size: 1.6rem;
    padding: 10px 0;
    border-radius: 20px 0 0 0;
    border-color: #589f74;
    background-color: unset;
    color: #589f74;
    text-decoration: none;

    &:nth-child(2) {
      border-radius: 0 20px 0 0;
    }

    &.active {
      background: rgb(88, 159, 116);
      background: linear-gradient(
        146deg,
        rgba(88, 159, 116, 1) 0%,
        rgba(121, 212, 118, 1) 100%
      );
      color: white;
    }
  }
}
