.login-page {
  width: 90%;
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
  min-height: 400px;
  border-radius: 20px;
  overflow: hidden;

  &__selector {
    width: 100%;
    display: flex;
    text-align: center;
  }

  &__link {
    width: 50%;
    font-size: 1.6rem;
    padding: 10px 0;
    border: 2px solid #589f74;
    border-radius: 20px 0 0 0;
    background-color: unset;
    color: #589f74;
    text-decoration: none;

    &:nth-child(2) {
      border-radius: 0 20px 0 0;
    }

    &.active {
      background-color: #589f74;
      color: white;
    }
  }
}
