$primary-color: #e0e0e0;
$secondary-color: #589f74;

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  position: relative;

  &__container {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  &__honeycomb {
    position: absolute;
    top: 28%;
    left: 0px;
    z-index: -2;

    &:nth-child(2) {
      transform: rotateZ(180deg);
      top: 38%;
      left: unset;
      right: 0px;
    }
  }

  &__title {
    margin: 30% 0 40px;
    font-size: 2.8rem;
  }

  &__img {
    transform: translateX(4%);
    width: 80%;
    height: auto;
    max-width: 500px;
  }

  &__text {
    font-size: 20px;
    width: 80%;
    margin: 40px auto 40px;
  }

  &__button {
    margin: 0 0 20px;
    max-width: 200px;
    padding: 12px;
    background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
  }

  &__ftr {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 28px;
    margin: 0px 28px 12px;
    height: auto;
  }
}
