.product-list {
  &__search {
    text-align: center;
    padding: 4px;
    width: 60%;
    max-width: 230px;
    border-radius: 6px;
    border: 1px solid black;
  }
  &__list {
    list-style: none;
    margin: 40px 0;
    text-align: left;
    font-size: 1.6rem;

    :nth-child(1) {
      border-radius: 12px 12px 0 0;
    }
    :last-child {
      border-radius: 0 0 12px 12px;
    }
    :only-child {
      border-radius: 12px 12px 12px 12px;
    }
    &__empty {
      margin: 40px;
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      padding: 20px;
      :nth-child(1) {
        border-radius: unset;
      }
      :last-child {
        border-radius: unset;
      }
      :only-child {
        border-radius: unset;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .product-list {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      padding: 20px 60px;
    }
  }
}
