.date-picker {
  position: sticky;
  top: 60px;
  z-index: 1;
  width: 100%;
  min-width: 285px;
  max-width: 400px;
  margin: auto;
  padding: 20px 0 20px;
  background: rgb(88, 159, 116);
  background: linear-gradient(
    146deg,
    rgba(88, 159, 116, 1) 0%,
    rgba(121, 212, 118, 1) 100%
  );
  border-radius: 0 0 20px 20px;

  box-shadow: 6px 6px 24px grey;

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
  }
  &__date-input {
    display: none;
    position: relative;
  }

  &__date {
    font-size: 2rem;
    color: white;
  }

  &__arrow {
    width: 25px;
    padding: 0px;
    color: white;
    &--previous {
      transform: rotateZ(-90deg);
    }
    &--next {
      transform: rotateZ(90deg);
    }
  }

  &__days-list {
    width: 100%;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    font-size: 1.4rem;
    max-width: 320px;
    color: white;
  }

  &__days-item {
    width: 40px;
    padding: 10px 0;
    border-radius: 8px;
    transition: 0.2s ease-in;
    &--active {
      color: black;
      background-color: #d1d1d1;
    }
  }
}

.react-datepicker {
  border-radius: 12px;
  overflow: hidden;
  &__triangle {
    display: none;
  }
  &-popper {
    transform: translateX(-50%) !important;
    inset: unset !important;
    position: absolute;
    top: 20px !important;
    left: 50% !important;
  }
  &__day-name,
  &__day,
  &__time-name {
    width: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
  }
  &__current-month {
    font-size: 1.4rem;
  }
}
