.meal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;

  &__meal-type {
    font-size: 1.4rem;
    font-weight: 700;
  }
  &__button-box {
    text-align: end;
    width: fit-content;
  }

  &__plus {
    width: 26px;
    margin-right: 12px;
  }

  &__chevron {
    width: 30px;
    transform: rotateZ(180deg);
    transition: 0.8s;
    &--active {
      transform: rotateZ(0deg);
    }
  }
}
