.register {
  width: 80%;
  margin: auto;
  text-align: center;

  &__logo {
    width: 80px;
    margin: 12px 0 0;
    color: #e0e0e0;
  }

  &__input {
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
  }
}
