.meal-list {
  &__meal-container {
    width: 95%;
    max-width: 400px;
    height: fit-content;
    margin: 28px auto 140px;
    background: rgb(230, 230, 230);
    background: linear-gradient(
      146deg,
      rgb(230, 230, 230),
      rgba(241, 241, 241, 1) 50%,
      rgb(230, 230, 230)
    );
    padding: 10px;
    border-radius: 16px;
    box-shadow: 6px 6px 24px rgba(128, 128, 128, 0.5);
  }
  &__box {
    border-bottom: 1px solid #b1b1b1;
    padding: 0 0 15px;
  }

  &__list {
    list-style: none;
    filter: drop-shadow(12px 4px 18px #0000004c)
      drop-shadow(-12px -8px 24px #ffffffa6);
    height: 0px;
    overflow: hidden;
    transition: 0.8s ease-in-out;

    &--active {
      height: fit-content;
    }
  }

  &__product-info {
    margin: 10px 25px;
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
  }
  &__summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 5px;
    font-size: 1rem;
    margin: 4px 0;
  }
}

@media screen and (min-width: 992px) {
  .meal-list {
    &__meal-container {
      grid-area: 2 / 1 / 3 / 3;
      width: 100%;
      max-width: unset;
      height: fit-content;
      margin: 20px auto 20px;
      border-radius: 20px;
      box-shadow: 6px 6px 24px rgba(128, 128, 128, 0.5);
    }
  }
}
