.login {
  width: 80%;
  margin: auto;
  text-align: center;

  &__logo {
    width: 80px;
    margin: 12px 0 0;
    color: #e0e0e0;
  }

  &__input {
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 6px;
    margin: 12px 0;
    background-color: #589f74;
    color: white;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
  }

  &__arrow {
    margin-left: 12px;
    width: 2.8rem;
  }

  &__others {
    border-top: 1px solid #e0e0e0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    background-color: #2b64d1;
    border: 1px solid #2b64d1;
    padding: 10px;
    font-size: 1.2rem;
    width: 80%;
    border-radius: 10px;
    margin: 20px 0;

    &--outline {
      text-decoration: none;
      color: white;
      background-color: #2b64d1;
      border: 1px solid #2b64d1;
      padding: 10px;
      font-size: 1.2rem;
      width: 80%;
      border-radius: 10px;
      margin: 20px 0;
      background-color: unset;
      color: #2b64d1;
    }
  }

  &__icon {
    width: 3.6rem;
    color: #2b64d1;
  }
}
