.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 250px;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
}

@media screen and (min-width: 992px) {
  .App {
    min-height: 100vh;
    margin-top: unset;
  }
}
