$primary-color: #e0e0e0;
$secondary-color: #589f74;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $primary-color;
}
